.profile-picture{
	max-width: 60%;

}

.card-text1{
	text-align: center;
}

.card{
	border-width: 3px;
}

.navbar-dark{
	background-color: white;
}

.navbar-brand{
	font-size: 30;
	color: white;

}

.navbar-nav{
	padding-top: 10px;
}

.nav-link{
	font-size: 20;
}

.card-footer{
	font-size: 35;
	text-align: center;
}

.jumbotron .display-1 {
	font-size: 150px;
	font-weight: 500;
	color: white;
	text-align: center;

}

.display-1{
	text-align: center;
}

.display-2{
	font-size: 40;
	color: white;
	text-align: center;
}

.jumbotron{
  background-image: url("../img/pic1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
